<p id="notice"><%= notice %></p>

<h1>Visits</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Location</th>
      <th>Geocoder</th>
      <th>Device</th>
      <th>Backtrace</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <td><%= visit.id %></td>
        <td><%= visit.location %></td>
        <td><%= visit.geocoder %></td>
        <td><%= visit.device %></td>
        <td><%= visit.backtrace %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visit', new_visit_path %>
