<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @visit.location.inspect if @visit.location.present? %>
</p>

<p>
  <strong>Geocoder:</strong>
  <%= @visit.geocoder.inspect if @visit.geocoder.present? %>
</p>

<p>
  <strong>Device:</strong>
  <%= @visit.device.inspect if @visit.device.present? %>
</p>

<p>
  <strong>Backtrace:</strong>
  <%= @visit.backtrace if @visit.backtrace.present? %>
</p>

<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
